main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 20px;
    padding: 20px;
}

#fishList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    /* flex: 2; */
    width: 60%;
    border: solid black 5px;
    padding: 10px;
}



#tipList {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    max-width: 300px;
    border: solid black 5px;
    justify-content: flex-end;
    padding: 10px
}

#locationList {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
    align-content: flex-start; 
    border: solid black 5px;
    max-width: 100%;
    padding: 10px
}
.locations {
    flex-basis: 100%;
    text-align: center;
}

/* #fishList, #tipList, #locationList {
    border: 2px #333;
    border-radius: 10px

} */